@model IEnumerable<InmobiliariaVaras.Models.Contratos>

@{
    ViewData["Title"] = "Index Contratos";
    List<Contratos> contratos = ViewData[nameof(Contratos)] as List<Contratos>;
}

@if(!User.Identity.IsAuthenticated)
 {
     await Html.RenderPartialAsync("_Login", new LoginView());
 }
 else
 {

@if(ViewBag.multa == 1)
    {
        <div class="alert alert-danger aler-dismissible fade show" role="alert">
            <strong>El Señor debe pagar una Multa de 2(Dos) Meses de alquiler por terminar antes su Contrato!!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="cloce">
                <span arial-hidden="true"><span class="fa fa-radiation-alt"></span></span>
            </button>
        </div>
    }

@if(ViewBag.multa == 2)
    {
        <div class="alert alert-danger aler-dismissible fade show" role="alert">
            <strong>El Señor debe pagar una Multa de 1(Un) Meses de alquiler por terminar antes su Contrato!!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="cloce">
                <span arial-hidden="true"><span class="fa fa-radiation-alt"></span></span>
            </button>
        </div>
    }

    

<h5>Buscar Inmuebles por fecha:</h5><br>
<form method="post" asp-action="BuscarPorFecha" asp-controller="Inmuebles" class="form-inline">
    <div class="form-group">
        <label for="FechaInicio">Fecha desde:</label>
        <input type="date" class="form-control" id="desde" name="FechaInicio">
    </div>
    <div class="form-group">
        <label for="FechaFin">Fecha hasta:</label>
        <input type="date" class="form-control" id="hasta" name="FechaFin">
    </div>
    &nbsp;
    <button type="submit" class="btn btn-danger">Ver disponibles</button>
</form>
<br>

<h1>Nuestros Contratos Vigentes</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_In)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_Fin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inquilinos.nombre_Inq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inmuebles.dom_Inm)
            </th>

            <th class="text-center">
                
                    <a asp-action="Alta" class="btn btn-primary"> Crear Contratos</a>
                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in contratos)
        {
            <tr>
                <td>
                    <big><big>
                    <i class="fa fa-usd"></i>
                    @Html.ActionLink("Pagar", "Pagar", "Pagos",new { id=item.id_Cont})
                    </big></big>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_In, "{0:dd/MM/yyyy}")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_Fin, "{0:dd/MM/yyyy}")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inquilinos.nombre_Inq)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inmuebles.dom_Inm)
                </td>

                <td>
                <i class="fa fa-history"></i>
                @Html.ActionLink("Ver pagos", "PorContrato", "Pagos", new { id=item.id_Cont}) |
                <i class="fa fa-edit"></i>
                @Html.ActionLink("Editar", "Editar", new { id=item.id_Cont}) |
                <i class="fa fa-info-circle"></i>
                @Html.ActionLink("Detalles", "Detalles", new { id=item.id_Cont}) |                
                
                @if(ViewContext.HttpContext.User.IsInRole("Administrador"))
                {
                <i class="fa fa-trash"></i>
                @Html.ActionLink("Cancelar", "Delete", new { id=item.id_Cont}, new { onclick = "return confirm('Cancelar el Contrato de: " + @item.Inquilinos.nombre_Inq + "?')" })
                }
                
            </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Alta" class="btn btn-primary">Crear Contratos</a>
</p>
 }